body {
    padding-top: 50px;
    color: #959595;
    margin-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.feature {
    background-color: #114B5F;
    color: #1f2b37;
}

.article-intro {
  margin-bottom: 25px;
}

.footer-blurb {
  padding: 30px 0;
  background-color: #4f76f6;
  color: black;
}

.footer-blurb-item {
  padding: 30px;
}

.small-print {
  background-color: #fff;
  padding: 30px 0;
}
